# Analyse Global Superstore 2018

## Import des bibliothèques

In [2]:
import pandas as pd
import numpy as np

## Chargement des données

On crée un dataframe pour chaque feuille présente dans le fichier Excel

In [3]:
df_orders= pd.read_excel('Global_Superstore_2018.xlsx', sheet_name='Orders')

df_orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,24599,IN-2017-CA120551-42816,2017-03-22,2017-03-29,Standard Class,CA-120551,Cathy Armstrong,Home Office,NaN,Herat,...,FUR-BO-4861,"Ikea Library with Doors, Mobile",Bookcases,Furniture,731.82,2,0.0,102.42,39.66,Medium
1,29465,ID-2015-BD116051-42248,2015-09-01,2015-09-04,Second Class,BD-116051,Brian Dahlen,Consumer,NaN,Herat,...,OFF-SU-2988,"Acme Scissors, Easy Grip",Supplies,Office Supplies,243.54,9,0.0,104.49,18.72,Medium
2,24598,IN-2017-CA120551-42816,2017-03-22,2017-03-29,Standard Class,CA-120551,Cathy Armstrong,Home Office,NaN,Herat,...,TEC-MA-4211,"Epson Receipt Printer, White",Machines,Technology,346.32,3,0.0,13.77,14.10,Medium
3,24597,IN-2017-CA120551-42816,2017-03-22,2017-03-29,Standard Class,CA-120551,Cathy Armstrong,Home Office,NaN,Herat,...,FUR-FU-5726,"Rubbermaid Door Stop, Erganomic",Furnishings,Furniture,169.68,4,0.0,79.68,11.01,Medium
4,29464,ID-2015-BD116051-42248,2015-09-01,2015-09-04,Second Class,BD-116051,Brian Dahlen,Consumer,NaN,Herat,...,OFF-EN-3664,"Cameo Interoffice Envelope, with clear poly wi...",Envelopes,Office Supplies,203.88,4,0.0,24.36,5.72,Medium

In [4]:
df_returns= pd.read_excel('Global_Superstore_2018.xlsx', sheet_name='Returns')

df_returns.head()

  Returned                Order ID         Region
0      Yes  IN-2017-CA120551-42816  Southern Asia
1      Yes  IN-2017-AA103751-42926  Southern Asia
2      Yes  IN-2017-TS212051-42904  Southern Asia
3      Yes   AG-2014-RO97803-41695   North Africa
4      Yes   AG-2015-LC70503-42265   North Africa

In [5]:
df_people = pd.read_excel('Global_Superstore_2018.xlsx', sheet_name='People')

df_people.head()

              Person           Region
0  Marilène Rousseau        Caribbean
1   Andile Ihejirika   Central Africa
2  Nicodemo Bautista  Central America
3     Cansu Peynirci     Central Asia
4         Lon Bonher       Central US

### Exploration et nettoyage des données

In [6]:
df_orders.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2016-05-11 11:52:18.436342272,2016-05-15 11:09:41.306297344,55190.379428,246.490581,3.476545,0.142908,28.610982,26.478567
min,1.00000,2014-01-01 00:00:00,2014-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.002000
25%,12823.25000,2015-06-19 00:00:00,2015-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2016-07-08 00:00:00,2016-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2017-05-22 00:00:00,2017-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2017-12-31 00:00:00,2018-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.251373

In [7]:
df_returns.describe()

       Returned                 Order ID          Region
count      2033                     2033            2033
unique        1                     1970              23
top         Yes  MX-2016-BT1130526-42695  Western Europe
freq       2033                        3             226

In [8]:
df_people.describe()

                   Person     Region
count                  24         24
unique                 24         24
top     Marilène Rousseau  Caribbean
freq                    1          1

In [9]:
df_orders.shape

(51290, 24)

In [10]:
df_returns.shape

(2033, 3)

In [11]:
df_people.shape

(24, 2)

In [12]:
df_orders.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Product Name          0
Sub-Category          0
Category              0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [13]:
df_returns.isnull().sum()

Returned    0
Order ID    0
Region      0
dtype: int64

In [14]:
df_people.isnull().sum()

Person    0
Region    0
dtype: int64

In [15]:
# Suppression de la colonne Postal Code
df_orders = df_orders.drop('Postal Code', axis=1)

In [16]:
df_orders.shape

(51290, 23)

## Analyse des commandes de la catégorie Technology en Europe du Nord

### Analyse Descriptive

Feuille des commandes

In [29]:
# Filtrer les données pour la catégorie Technology et la région Europe du Nord
df_tech_north_europe = df_orders[(df_orders['Category'] == 'Technology') & (df_orders['Region'] == 'Northern Europe')]

# Obtenir des statistiques descriptives
df_tech_north_europe.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
10433,15577,IT-2014-XP2186534-41977,2014-12-04,2014-12-09,Standard Class,XP-2186534,Xylona Preis,Consumer,Copenhagen,Hovedstaden,...,TEC-MA-6147,"StarTech Printer, Durable",Machines,Technology,640.725,5,0.5,-538.275,115.47,High
10438,11795,IT-2016-BF1108034-42521,2016-05-31,2016-06-06,Standard Class,BF-1108034,Bart Folk,Consumer,Copenhagen,Hovedstaden,...,TEC-AC-3386,"Belkin Keyboard, Programmable",Accessories,Technology,298.830,7,0.5,-197.400,28.30,Low
10443,19320,IT-2014-AF1087034-41925,2014-10-13,2014-10-18,Standard Class,AF-1087034,Art Ferguson,Consumer,Copenhagen,Hovedstaden,...,TEC-PH-5261,"Motorola Office Telephone, VoIP",Phones,Technology,107.775,3,0.5,-13.005,8.40,Medium
10449,16495,ES-2017-NP1870034-42965,2017-08-18,2017-08-24,Standard Class,NP-1870034,Nora Preis,Consumer,Copenhagen,Hovedstaden,...,TEC-AC-5219,"Memorex Mouse, USB",Accessories,Technology,70.950,5,0.5,-44.100,4.09,Medium
10450,15020,IT-2014-SP2054534-41999,2014-12-26,2015-01-02,Standard Class,SP-2054534,Sibella Parks,Corporate,Copenhagen,Hovedstaden,...,TEC-PH-3818,"Cisco Speaker Phone, with Caller ID",Phones,Technology,207.720,3,0.5,-191.160,3.65,Medium

In [27]:
df_tech_north_europe.describe()

,Row ID,Order Date,Ship Date,Sales,Quantity,Discount,Profit,Shipping Cost
count,426.000000,426,426,426.000000,426.000000,426.000000,426.000000,426.000000
mean,15985.328638,2016-06-05 13:00:50.704225536,2016-06-09 18:28:43.943662080,593.824155,3.683099,0.119953,101.496338,60.986714
min,10296.000000,2014-01-24 00:00:00,2014-01-24 00:00:00,9.216000,1.000000,0.000000,-1172.736000,1.190000
25%,12846.750000,2015-06-18 00:00:00,2015-06-21 00:00:00,171.900000,2.000000,0.000000,4.038000,14.362500
50%,15409.000000,2016-08-24 12:00:00,2016-08-28 12:00:00,375.045000,3.000000,0.000000,49.765500,33.840000
75%,17736.250000,2017-06-23 00:00:00,2017-06-26 06:00:00,735.097500,5.000000,0.100000,160.560000,75.747500
max,50832.000000,2017-12-31 00:00:00,2018-01-05 00:00:00,5785.020000,14.000000,0.700000,2461.320000,668.960000
std,5784.205476,NaN,NaN,713.116193,2.126703,0.211329,275.055881,80.806757

In [18]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
print(df_tech_north_europe.isnull().sum())

Valeurs manquantes :
Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Region            0
Market            0
Product ID        0
Product Name      0
Sub-Category      0
Category          0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [19]:
# Vérifier les valeurs uniques
print("Valeurs uniques :")
for column in df_tech_north_europe.columns:
    print(f"{column}: {df_tech_north_europe[column].nunique()}")

Valeurs uniques :
Row ID: 426
Order ID: 367
Order Date: 319
Ship Date: 317
Ship Mode: 4
Customer ID: 331
Customer Name: 307
Segment: 3
City: 140
State: 24
Country: 8
Region: 1
Market: 1
Product ID: 277
Product Name: 277
Sub-Category: 4
Category: 1
Sales: 401
Quantity: 12
Discount: 4
Profit: 399
Shipping Cost: 420
Order Priority: 4

In [20]:
# Vérifier les types de données
print("Type de donnée")
print(df_tech_north_europe.dtypes)

Type de donnée
Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Product Name              object
Sub-Category              object
Category                  object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [21]:
# Sélectionne seulement les colonnes numériques 
numerical_cols = df_tech_north_europe.select_dtypes(include=[np.number])

# Examiner la corrélation entre les colonnes
print("Corrélations : ")
print(numerical_cols.corr())

Corrélations :
                 Row ID     Sales  Quantity  Discount    Profit  Shipping Cost
Row ID         1.000000 -0.091578 -0.154342  0.351540 -0.207645      -0.042208
Sales         -0.091578  1.000000  0.530100 -0.233033  0.705814       0.773919
Quantity      -0.154342  0.530100  1.000000 -0.067569  0.302844       0.426327
Discount       0.351540 -0.233033 -0.067569  1.000000 -0.451493      -0.180275
Profit        -0.207645  0.705814  0.302844 -0.451493  1.000000       0.446499
Shipping Cost -0.042208  0.773919  0.426327 -0.180275  0.446499       1.000000

Feuille des retours

In [32]:
df_tech_north_europe_returns = df_returns[(df_returns['Region'] == 'Northern Europe')]

df_tech_north_europe_returns

     Returned                  Order ID           Region
412       Yes   IT-2016-BF1108034-42521  Northern Europe
413       Yes   ES-2015-DB1340534-42180  Northern Europe
414       Yes   ES-2017-JF1556534-42798  Northern Europe
491       Yes   ES-2016-JD1579044-42476  Northern Europe
492       Yes   ES-2016-PO1919544-42675  Northern Europe
...       ...                       ...              ...
1585      Yes  ES-2017-MJ17740139-42804  Northern Europe
1586      Yes  ES-2016-CC12475139-42722  Northern Europe
1587      Yes  ES-2015-EB14110139-42257  Northern Europe
1588      Yes  ES-2017-NP18685139-42897  Northern Europe
1589      Yes  ES-2017-EH14125139-42961  Northern Europe

[84 rows x 3 columns]

In [31]:
df_tech_north_europe_returns.describe()

       Returned                  Order ID           Region
count        84                        84               84
unique        1                        83                1
top         Yes  IT-2016-HF14995139-42683  Northern Europe
freq         84                         2               84

## Analyse prédictive

Corrélation de Pearson : la corrélation mesure la relation linéaire entre deux variables continues

In [33]:
from scipy.stats import pearsonr

# Supposons que nous voulons trouver la corrélation entre 'Quantity' et 'Sales'
corr, _ = pearsonr(df_tech_north_europe['Quantity'], df_tech_north_europe['Sales'])
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.530

ANOVA (Analyse de la variance) : permet de comparer les moyennes de plus de deux groupes

In [38]:
%pip install statsmodels --upgrade --quiet
%pip install statsmodels --upgrade --quiet

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [42]:
# Supposons que nous avons une variable catégorielle 'Segment' et que nous voulons comparer les ventes moyennes de différents produits
model = ols('Sales ~ C(Segment)', data=df_tech_north_europe).fit() # C() indique que Segment est une variable catégorielle, pas continue
# fit() ajuste le modèle aux données et renvoie un objet de résultats
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

# PR(>F) est la valeur p. Plus la valeur p est faible, plus la différence est significative
# F est la statistique de test pour l'ANOVA. Plus F est grand, plus la différence est significative
# sum_sq est la somme des carrés pour chaque groupe. Plus la somme des carrés est grande, plus la différence est significative

                  sum_sq     df       F    PR(>F)
C(Segment)  4.081835e+05    2.0  0.4002  0.670439
Residual    2.157191e+08  423.0     NaN       NaN

Test du Chi carré (χ²) : détermine s'il existe une association entre deux variables catégorielles

In [46]:
from scipy.stats import chi2_contingency

# Créer un tableau de contingence
contingency_table = pd.crosstab(df_tech_north_europe_returns['Order ID'], df_tech_north_europe_returns['Returned'])

# Test du Chi carré
chi2, p, dof, expected = chi2_contingency(contingency_table)
print(f"Chi-square value: {chi2}, p-value: {p}")
# p-value < 0.05, donc nous rejetons l'hypothèse nulle que les variables sont indépendantes
# p-value > 0.05, donc nous ne rejetons pas l'hypothèse nulle que les variables sont indépendantes

Chi-square value: 0.0, p-value: 1.0

Si la valeur p est égale à 1, cela signifie que les données observées correspondent parfaitement à ce qui serait attendu si les deux variables étaient indépendantes (sous l'hypothèse nulle). En d'autres termes, il n'y a aucune preuve dans vos données pour rejeter l'hypothèse nulle d'indépendance entre les deux variables.

Cela indique donc que les deux variables sont probablement indépendantes

## Analyse prescriptive

### Identification des produits à problèmes

Si certains produits ont un taux de retour élevé, on pourrait identifier ces produits et prendre des mesures pour améliorer leur qualité.

In [47]:
# Identifier les produits avec un taux de retour élevé
high_return_products = df_tech_north_europe_returns['Order ID'][df_tech_north_europe_returns['Returned'] == 'Yes'].value_counts()
print(high_return_products)

Order ID
IT-2016-HF14995139-42683    2
IT-2016-BF1108034-42521     1
IT-2017-MB17305139-42921    1
ES-2017-RB19330139-43065    1
ES-2017-LC16930139-42762    1
                           ..
ES-2015-AY10555139-42160    1
IT-2017-NW18400139-42919    1
ES-2015-NL18310139-42268    1
IT-2017-TS21340139-43018    1
ES-2017-EH14125139-42961    1
Name: count, Length: 83, dtype: int64

### Ciblage des efforts de marketing

Si certains pays ont des ventes plus faibles que d'autres, on pourrait cibler davantage nos efforts de marketing dans ces pays.

In [48]:
# Identifier les pays qui ont des ventes inférieures à la moyenne des ventes de tous les pays
low_sales_countries = df_tech_north_europe[df_tech_north_europe['Sales'] < df_tech_north_europe['Sales'].mean()]['Country'].value_counts()
print(low_sales_countries) # Affiche le nombre de fois qu'un pays apparaît dans la liste

Country
United Kingdom    188
Sweden             31
Ireland            18
Denmark            12
Norway             11
Lithuania           9
Finland             6
Name: count, dtype: int64

### Ajustement des prix et des remises

Si l'analyse prédictive montre que les ventes sont influencées par la quantité et la remise, on pourrait alors ajuster ces facteurs pour maximiser les ventes.

In [55]:
%pip install scikit-learn --upgrade --quiet

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
from sklearn.linear_model import LinearRegression
# Supposons que nous ayons un modèle de régression linéaire entraîné sur 'Quantity' et 'Discount'
# Nous pouvons utiliser ce modèle pour prédire comment les changements dans ces facteurs pourraient affecter les ventes

# Sélection des colonnes 'Quantity' et 'Discount' du dataframe df_tech_north_europe
X = df_tech_north_europe[['Quantity', 'Discount']]

# Sélection de la colonne 'Sales' du dataframe df_tech_north_europe
y = df_tech_north_europe['Sales']

# Entraînement du modèle de régression linéaire
model = LinearRegression()
model.fit(X, y)

LinearRegression()

Affichage des coefficients pour 'Quantity' et 'Discount', ainsi que l'intercept du modèle. Ces valeurs décrivent la relation que le modèle a apprise entre 'Quantity', 'Discount' et 'Sales'.

In [62]:
# Affichage des coefficients et de l'intercept
print("Coefficients: ", model.coef_)
print("Intercept: ", model.intercept_)

Coefficients:  [ 173.26186497 -668.54297844]
Intercept:  35.87739450030767

Voyons comment le modèle performe sur les données d'entraînement

In [60]:
# Faire des prédictions sur les données d'entraînement
y_pred = model.predict(X)

# Imprimer les premières prédictions
print("Premières prédictions : ", y_pred[:5])

# Comparer avec les vraies valeurs
print("Vrai valeurs : ", y[:5].values)

Premières prédictions :  [567.91523014 914.43896009 221.3915002  567.91523014 221.3915002 ]
Vrai valeurs :  [640.725 298.83  107.775  70.95  207.72 ]

Les valeurs prédites par le modèle ne correspondent pas bien aux vraies valeurs, cela indique que le modèle n'est pas très précis

In [64]:
# Calculer l'erreur quadratique moyenne
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, y_pred)
print("Erreur quadratique moyenne : ", mse)

Erreur quadratique moyenne :  344952.204075307

L'erreur quadratique moyenne est la moyenne des carrés des différences entre les vraies valeurs et les valeurs prédites
Elle est utilisée pour évaluer la qualité d'un modèle de régression. Plus elle est faible, meilleure est la qualité du modèle

In [65]:
# Calculer le coefficient de détermination
from sklearn.metrics import r2_score
r2 = r2_score(y, y_pred)
print("R^2: ", r2)

R^2:  0.320078151426184

Le coefficient de détermination est une mesure de la qualité de l'ajustement du modèle. Il varie de 0 à 1, où 1 signifie un ajustement parfait